#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ff8008;
  background: -webkit-linear-gradient(to top, #ffc837, #ff8008);
  background: linear-gradient(to top, #ffc837, #ff8008);
}
