@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#footer {
  font-family: "Lato", sans-serif;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.heart {
  color: red;
}
