@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#calculator {
  background-color: black;
  height: 70%;
  width: 22%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  color: white;
  background-color: black;
  width: 25%;
}

#display {
  width: 95%;
  height: 28%;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.2rem;
  margin: 0.2rem auto;
}

#display #input {
  max-width: 100%;
  transition: all 0.6s ease 0s;
}

#output {
  opacity: 0.5;
  font-size: 1.8rem;
  transition: all 0.6s ease 0s;
}

#display .output {
  opacity: 0.5;
  font-size: 2.2rem;
}

#display .input {
  font-size: 1.8rem;
}

#buttons {
  border-top: 0.5px solid grey;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 66%;
  margin: 0rem auto;
  margin-top: 1rem;
}

#clear {
  width: 50%;
  color: orange;
  font-size: 1.6rem;
}
#decimal {
  width: 25%;
  font-weight: bolder;
}

#equals {
  width: 50%;
  background-color: orange;
}

.operator {
  color: orange;
}

#subtract {
  font-weight: bolder;
}

@media (max-width: 500px) {
  #calculator {
    width: 80%;
  }
  #display {
    font-size: 2rem;
  }
}

#error {
  font-size: 2rem;
}
